.customDesign{
    /*box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);*/
    box-shadow: rgba(10, 64, 115, 0.1) 0px 16px 32px;
    cursor: pointer;
}
.grow{

    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);

    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}
.grow:hover {
    transform: scale(1.1);
}